@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model C2EpiserverBlog.Models.Pages.StartPage

<div>
  @Html.PropertyFor(m => m.ContactsPageLink)
  @Html.PropertyFor(m => m.ThankYouPageLink)
</div>